body
{ font-family: feComponentTransfer;
}
#mainheader
{   position: center;
    left: 10px;
    top:5px;
    font-size: 70px;
    color: rgb(49, 65, 28);
    opacity: .90;
    
}
.main-container 
{   border-style: solid;
    border-width: 13px;
    border-color: rgba(60, 77, 131, 0.767);
    padding: 13px;
    margin: auto;
    background : rgb(235, 212, 85, 0.767);
    width: 80%; 
}

.div.align
{ text-align: center;
}

.secondary-container
{   margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px black solid;
    border-spacing: initial;
}

