body

.main-container {   
    border-color: rgba(235, 212, 85, 0.767);
    border-style: solid;
    border-width: 13px;
    padding: 13px;
    margin: auto;
    background : rgb(138, 135, 135);
    width: 80%;
   
}

{
    font-family: feComponentTransfer;
}
div.align{
    text-align: center;
}

.secondary-container{
    
    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px black solid;
    border-spacing: inherit;
}

#mainheader{
    position: relative;
    left: 20px;
    top:5px;
    color: darkslategray;
    opacity: .75;
    font-size: 60px;
}