
@font-face
 {
 font-family: 'ostrich';
 src: url('../FONTS/ostrich.ttf') format('truetype');
 font-style: normal;
 }
 @font-face 
 {
 font-family: 'Pacifico';
 src: url('../FONTS/Pacifico.ttf') format('truetype');
 font-weight: 620;
 }
 
 